<br>
<h2>Missing People</h2>

<br>
<br>
<b>
<%= link_to 'Create New File', 'missing_create' %>

<br>


<%= link_to 'See All Files', 'missing_read' %>

<br>

<%= link_to 'Update File', 'missing_update' %>

<br>

<%= link_to 'Delete File', 'missing_delete' %>
</b>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<%= javascript_pack_tag 'missing_people_operations' %>
