<!DOCTYPE html>
<html>
  <head>
    <title>HelpFind</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p style="color:blue;"></p>
<p style="font-size:50px;"></p>

    <!-- jumbotron -->
    <div class="jumbotron jumbo-background">
       <h1 class="display-4">Help Find Missing People</h1>
     </div>
     <% if !flash[:alert].nil? %>
     <p class="my_alert"><%= flash[:alert] %></p>
   <% end %>
   <!-- Navbar -->
   <nav class="navbar navbar-expand-sm   navbar-dark" style="background-color: #f7635e">
     <!-- Home -->
   <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     <li class="nav-item dropdown dmenu">
     <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      <i class="fa-solid fa-house"></i>
      Home
     </a>
     <div class="dropdown-menu sm-menu">
       <%= link_to 'About', '/ajax/about' %>
       <br>
       <%= link_to "Home", "home" %>
      <br>
     </div>
   </li>
<!-- Search FBI -->
  <li class="nav-item dropdown dmenu">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    <i class="fa-solid fa-magnifying-glass-location"></i>
    Search FBI
  </a>
  <div class="dropdown-menu sm-menu">
    <%= link_to 'Search FBI', '/ajax/fbi'  %>
    <br>
    <%= link_to 'Missing People', '/ajax/missing_read' %>
    <br>
    <%= link_to 'Status Reports', '/ajax/status_reports_read' %>
  </div>
</li>
<!-- Search Twitter -->
  <li class="nav-item dropdown dmenu">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    <i class="fa-brands fa-twitter"></i>
    Search Twitter
  </a>
  <div class="dropdown-menu sm-menu">
    <%= link_to 'Search Twitter', '/ajax/twitter' %>
    <br>
    <%= link_to 'Missing People', '/ajax/missing_read' %>
    <br>
    <%= link_to 'Status Reports', '/ajax/status_reports_read' %>
  </div>
</li>
<!--Search Newsdata -->
  <li class="nav-item dropdown dmenu">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    <i class="fa-brands fa-searchengin"></i>
    Search Newsdata
  </a>
  <div class="dropdown-menu sm-menu">
    <%= link_to 'Search Newsdata', '/ajax/newsdata' %>
    <br>
    <%= link_to 'Missing People', '/ajax/missing_read' %>
    <br>
    <%= link_to 'Status Reports', '/ajax/status_reports_read' %>
  </div>
</li>
<!--Search Missing People -->
  <li class="nav-item dropdown dmenu">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    <i class="fa-solid fa-person-circle-question"></i>
    Missing People Database
  </a>
  <div class="dropdown-menu sm-menu">

    <%= link_to 'Create New File', '/ajax/missing_create' %>

    <br>


    <%= link_to 'See All Files', '/ajax/missing_read' %>

    <br>

    <%= link_to 'Update File', '/ajax/missing_update' %>

    <br>

    <%= link_to 'Delete File', '/ajax/missing_delete' %>
  </div>
</li>
<!--Status Reports -->
  <li class="nav-item dropdown dmenu">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    <i class="fa-solid fa-file-signature"></i>
    Status Reports
  </a>
  <div class="dropdown-menu sm-menu">

    <%= link_to 'Create File', '/ajax/status_reports_create' %>

    <br>

    <%= link_to 'See All Files', '/ajax/status_reports_read' %>

    <br>

    <%= link_to 'Update File', '/ajax/status_reports_update' %>

    <br>

    <%= link_to 'Delete File', '/ajax/status_reports_delete' %>
  </div>

<!--Search About -->
  <li class="nav-item dropdown dmenu">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    <i class="fa-solid fa-right-to-bracket"></i>
    Login/Logoff
  </a>
  <div class="dropdown-menu sm-menu">
    <i class="fa-solid fa-user-plus"></i>
    <%= link_to 'Create User', '/ajax/create_session' %>
    <br>
    <div class="fa-solid fa-user-check"></div>
    <%= link_to 'Logon', '/ajax/logon_session' %>
    <br>
    <div class="fa-solid fa-user-minus"></div>
    <%= link_to 'Logoff', '/ajax/logoff_session' %>
  </div>
</li>
</ul>
   </nav>

   <!-- p5 -->

    <%= yield %>
  </body>
</html>
